MINIMAX_API_KEY=
BROWSER_USE_API_KEY=
ANTHROPIC_API_KEY=
# Alternatively, use another LLM provider for Browser Use agent:
# OPENAI_API_KEY=
GITHUB_USERNAME=
GITHUB_PASSWORD=
GITHUB_TOTP_SECRET=
AWS_EMAIL=
AWS_PASSWORD=
AGENTMAIL_API_KEY=
